@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ArchiveManage/Price/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
            $.ajax({
                url: "/ArchiveManage/Price/GetDetailsListJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    var dataOrder = data.sort(
                        function (a, b) {
                            if (a.F_SortNumber < b.F_SortNumber) return -1;
                            if (a.F_SortNumber > b.F_SortNumber) return 1;
                            return 0;
                        }
                    );
                    if (dataOrder.length >= 5) $("#but").css('display', 'none');
                    for (var i = 0; i < dataOrder.length; i++) {
                        var _len = i + 1;
                        $("#tab").append("<tr id=" +
                            _len +
                            " align='center'>" +
                            "<td>" +
                            _len +
                            "</td>" +
                            "<td class='formValue'><input type='text' name='F_DetailName' id='F_DetailName" +
                            _len +
                            "' class='required' value='" +
                            dataOrder[i]['F_DetailName'] +
                            "' placeholder='请输入类目'/></td>" +
                            "<td class='formValue'><input type='text' name='F_Price' id='F_Price" +
                            _len +
                            "' value='" +
                            dataOrder[i]['F_Price'] +
                            "' onkeyup='clearNoNum(this)' class='required' placeholder='请输入金额'/></td></tr>");
                    };
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
            $.ajax({
                url: "/ArchiveManage/Price/GetBaseListJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.length == 1 && data[0]["F_SortNumber"] == 0) {
                        $("#F_PriceValue0").val(data[0]["F_PriceValue"]);
                    } else {
                        var dataOrder = data.sort(
                           function (a, b) {
                               if (a.F_SortNumber < b.F_SortNumber) return -1;
                               if (a.F_SortNumber > b.F_SortNumber) return 1;
                               return 0;
                           }
                       );
                        if (dataOrder.length >= 6) $("#but1").css('display', 'none');
                        for (var i = 0; i < dataOrder.length; i++) {
                            var arry = dataOrder[i]["F_PriceName"].toString().split('-');
                            list.push(arry[0], arry[1]);
                        }
                        list = unique(list);
                        setQujian(dataOrder);
                    }
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
    });
    function initControl() {
        $("#F_PriceType").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "PriceType" }
        });
        $("#F_Cycle").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "PriceCycle" }
        });
        $('#wizard').wizard().on('change',
            function (e, data) {
                var $next = $("#btn_next");
                if (data.direction === "next") {
                    switch (data.step) {
                        case 2:
                            $next.attr('disabled', 'disabled');
                            break;
                        default:
                            break;
                    }
                } else {
                    $next.removeAttr('disabled');
                }
            });
    }
</script>
<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>基本价格<span class="chevron"></span></li>
                <li data-target="#step-3"><span class="step">3</span>其他组成<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div cclass="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">价格类型</th>
                                <td class="formValue">
                                    <select id="F_PriceType" name="F_PriceType" class="form-control required"></select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">价格名称</th>
                                <td class="formValue">
                                    <input id="F_PriceName" name="F_PriceName" type="text" class="form-control required" placeholder="请输入价格名称" />
                                </td>
                            </tr>
                            <tr id="startdate" style="display:none">
                                <th class="formTitle">执行日期</th>
                                <td class="formValue">
                                    <input id="F_StartTime" name="F_StartTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker()" />
                                </td>
                            </tr>
                            <tr id="cycle" style="display:none">
                                <th class="formTitle">计价周期</th>
                                <td class="formValue">
                                    <select id="F_Cycle" name="F_Cycle" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue">
                                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">创建人员</th>
                                <td class="formValue">
                                    <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>

                                <th class="formTitle">创建时间</th>
                                <td class="formValue">
                                    <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">修改人员</th>
                                <td class="formValue">
                                    <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control" />
                                </td>

                            </tr>
                            <tr>
                                <th class="formTitle">修改时间</th>
                                <td class="formValue">
                                    <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2" style="padding: 20px;">
                <div class="row" id="row" style="margin-left: 1px; margin-bottom: 10px;display:none">
                    <input type="text" name="keyword" id="val1" onkeyup='clearNoNum(this)' style="width: 40%; height: 32px; line-height: 34px; color: #555; background-color: #fff; background-image: none; border: 1px solid #ddd; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;" placeholder="请输入分隔点">
                    <input type="button" id="but1" value="增加" class="btn btn-default" />
                </div>
                <table id="tab1" class="ui-jqgrid-htable ui-common-table table table-bordered" style="display: none">
                    <tr class="ui-jqgrid-labels">
                        <th class="ui-th-column ui-th-ltr">序号</th>
                        <th class="ui-th-column ui-th-ltr" width="150px">区间</th>
                        <th class="ui-th-column ui-th-ltr" width="100px">单价</th>
                    </tr>
                    <tr id="tr1" align='center'>
                        <td class='formValue'><label>1</label></td>
                        <td class='formValue'><input type="text" name='F_PriceName' id='F_PriceName1' value="0-1000000" readonly="readonly" /></td>
                        <td class='formValue'><input type='text' name='F_PriceValue' id='F_PriceValue1' value='0' onkeyup='clearNoNum(this)' class='required' placeholder='请输入金额' /></td>
                    </tr>
                </table>
                <div cclass="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table id="tab2" class="form">
                            <tr>
                                <th class="formTitle">单价</th>
                                <td class="formValue">
                                    <input type="text" id='F_PriceName0' name='F_PriceName' value="0-1000000" style="display:none" />
                                    <input type="text" id="F_PriceValue0" name="F_PriceValue" onkeyup='clearNoNum(this)' class="form-control required" value="0" placeholder="请输入金额" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-3" style="padding: 20px;">
                <table id="tab" class="ui-jqgrid-htable ui-common-table table table-bordered">
                    <tr class="ui-jqgrid-labels">
                        <th class="ui-th-column ui-th-ltr">序号</th>
                        <th class="ui-th-column ui-th-ltr">类目</th>
                        <th class="ui-th-column ui-th-ltr">金额</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
        </div>
    </div>
</form>
