@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        initControl();
        gridList();

    });
    function initControl() {
        ///////////////////////////////////////////////////////设备类型
        var deviceType = top.clients.dataItems["DeviceType"];
        for (var device in deviceType) {
            if (deviceType.hasOwnProperty(device)) {
                $("#txt_type").children(".dropdown-menu").append("<li><a href='javascript:void()' data-value='" + device + "'>" + deviceType[device] + "</a></li>");
            }
        }
        $("#txt_type .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $(this).parent().siblings().css("color", "black");
            $("#txt_type .dropdown-text").html(text).attr('data-value', value);
        });
        $("#txt_begintime").val(GetDateStr(-1, 'month'));
        $("#txt_endtime").val(GetDateStr(-1, 'day'));
    }
    function GetDateStr(number, type) {
        var dd = new Date();
        if (type === "month") {
            dd.setMonth(dd.getMonth() + number);//获取number月后的日期
        }
        else if (type === "day") {
            dd.setDate(dd.getDate() + number);//获取number天后的日期
        }
        var y = dd.getFullYear();
        var m = dd.getMonth() + 1;//获取当前月份的日期
        var d = dd.getDate();
        return y + "-" + Appendzero(m) + "-" + Appendzero(d);
    }
    function Appendzero(obj) {
        if (obj < 10) return "0" + obj; else return obj;
    }
    function gridList() {
        var queryJson = {
            device: $("#txt_type").find('.dropdown-text').attr('data-value'),
            begintime: $("#txt_begintime").val(),
            endtime: $("#txt_endtime").val(),
        }
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/DataStatistics/DosageStatistics/GetGridJson",
            postData: {
                queryJson: JSON.stringify(queryJson)
            },
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                 {
                     label: '表类型', name: 'F_MeterType', width: 80, align: 'left',
                     formatter: function (cellvalue) {
                         return top.clients.dataItems["DeviceType"][cellvalue] == undefined ? "" : top.clients.dataItems["DeviceType"][cellvalue];
                     }
                 },
                { label: '用户卡号', name: 'F_UserCard', width: 100, align: 'left' },
                { label: '表计编码', name: 'F_MeterCode', width: 120, align: 'left' },
                { label: '客户名称', name: 'F_CustomerName', width: 120, align: 'left' },
                { label: '安装位置', name: 'F_CustomerAddress', width: 120, align: 'left' },
                { label: '联系方式', name: 'F_MobilePhone', width: 100, align: 'left' },
                { label: '期初数', name: 'F_LastRecord', width: 80, align: 'left' },
                { label: '期末数', name: 'F_ThisRecord', width: 80, align: 'left' },
                { label: '总用量', name: 'F_ThisDosage', width: 80, align: 'left' },
                { label: '单价', name: 'F_UnitPrice', width: 80, align: 'left' },
                { label: '总计费', name: 'F_ThisBill', width: 80, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'F_MeterCode desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            var queryJson = {
                device: $("#txt_type").find('.dropdown-text').attr('data-value'),
                begintime: $("#txt_begintime").val(),
                endtime: $("#txt_endtime").val(),
                businessID: $("#businessID").val(),
                areaID: $("#areaID").val(),
                bookID: $("#bookID").val(),
                inTabManIDs: $("#inTabManIDs").val(),
            }
            $gridList.jqGrid('setGridParam', {
                postData: {
                    queryJson: JSON.stringify(queryJson)
                }
            }).trigger('reloadGrid');
        });
    }
    function btn_export() {
        var queryJson = {
            device: $("#txt_type").find('.dropdown-text').attr('data-value'),
            begintime: $("#txt_begintime").val(),
            endtime: $("#txt_endtime").val(),
            businessID: $("#businessID").val(),
            areaID: $("#areaID").val(),
            bookID: $("#bookID").val(),
            inTabManIDs: $("#inTabManIDs").val(),
        }
        $.download("/DataStatistics/DosageStatistics/DownLoad", encodeURI("queryJson=" + JSON.stringify(queryJson)), "get");
    }
</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-export" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_export()"><i class="fa fa-floppy-o"></i>数据导出</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div id="txt_type" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择表类型</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu"></ul>
                    </div>
                </td>
                <td style="padding-left: 2px;">
                    <input type="text" placeholder="选择开始时间" readonly="readonly" id="txt_begintime" name="begintime"
                           class="btn btn-default input-wdatepicker" onfocus="WdatePicker({ isShowClear: false, dateFmt: 'yyyy-MM-dd', startDate: '%y-%M-%d', maxDate: '#F{$dp.$D(\'txt_endtime\')||\'%y-%M-%d\'}' })" />
                    <input type="text" placeholder="选择结束时间" readonly="readonly" id="txt_endtime" name="endtime"
                           class="btn btn-default input-wdatepicker" onfocus="WdatePicker({ isShowClear: false, dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'txt_begintime\')}', maxDate: '%y-%M-%d', startDate: '%y-%M-%d' })" />
                </td>
                <td style="padding-left: 2px;">
                    <div class="input-group">
                        @{
                            var companyId = NFine.Code.OperatorProvider.Provider.GetCurrent().CompanyId;
                            if (companyId == "030eca51-483a-47b6-ad46-b6164278ebcb")
                            {
                                <input id="businessID" type="text" class="form-control" placeholder="营业所号" style="width: 100px;">
                                <input id="areaID" type="text" class="form-control" placeholder="小区编号" style="width: 100px;">
                                <input id="bookID" type="text" class="form-control" placeholder="册本号" style="width: 100px;">
                                <input id="inTabManIDs" type="text" class="form-control" placeholder="用户卡号" style="width: 100px;">
                            }
                        }
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>